@import "./codemirror/codemirror.css";
@import "./codemirror/foldgutter.css";
@import "./codemirror/monokai.css";

body {
  background-color: #36372f;
  color: #f8f8f2;
}

a {
  color: #ae81ff;
}
a:visited {
  color: #eb98ff;
}

header h1 {
  margin-bottom: 0.33em;
}
header p {
  font-style: italic;
  margin-top: 0;
}

.controls {
  margin: 20px 0;
}

.controls button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  background-color: rgb(101 79 103 / 70%);
  border: none;
}
.controls button:active, .controls button[on] {
  color: black;
  background-color: rgb(250 199 255 / 90%);
}
#mirror-toggle:before {
  content: "🚫 ";
  line-height: 100%;
}
#mirror-toggle[on]:before {
  content: "✅ ";
}

.CodeMirror {
  height: auto;
  border: 2px solid #FF80BA;
}

.CodeMirror-foldmarker {
  color: #f92672;
}

.CodeMirror, #canvas, footer {
  margin: 0 5px 0 5px;
  box-shadow: -5px 5px #ae81ff;
}

footer {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #272822;
}
footer > :first-child {
  margin-top: 0;
}
footer > :last-child {
  margin-bottom: 0;
}

.error {
  background-color: rgb(180 0 0 / 50%);
}
